<!DOCTYPE html>
<html>
    <head>
        <tiltle>
            Course Data
        </title>
    </head>
    <body>
        <h1>{{header}}</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Average Marks</th>
                    <th>Maximum marks</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{average}}</td>
                    <td>{{maximum}}</td>
                </tr>
            </tbody>
        </table>
        <img src="{{ image_path }}" alt="Histogram">
    </body>
</html>
